/app/libs/*.aar
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_
*.dex
keystore.properties
*.jks
*.keystore
*.p12
!debug.keystore
/app/keystore/
compile-out.txt
